%a{href: notes_path} &larr; back to notes

= form_for note, url: {action: 'create'} do |f|
    = label_tag :title, 'title'
    %br
    = f.text_field :title
    %br
    = label_tag :body, 'body'
    %br
    = text_area_tag 'note[body]', nil, {id: 'note_body', size: '40x10'}
    %br
    = f.submit :create
